<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <h1 class="aq">{{ Titulo6 }}</h1>
    <div class="card">
        <p>Para qualquer dúvida ou necessidade de suporte, entre em contato conosco pelo número: (11) 1234-5678. Estamos disponíveis para ajudar!</p>
        <p>Obrigado por utilizar nosso site e esperamos que tenha uma excelente experiência.</p>

        <a class="voltar" href="/">Voltar à Página Inicial</a>
    </div>

</body>
</html>
