<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title >Lista de Gêneros</title>
</head>
<body>

    <h1 class="aq">{{ Titulo2 }}</h1>
    <div class="container">
        <div class="card">
            <img src="/static/acao.png" alt="Ação">
            <p>Ação</p>
        </div>
        <div class="card">
            <img src="/static/comedia.png" alt="Comédia">
            <p>Comédia</p>
        </div>
        <div class="card">
            <img src="/static/romance.png" alt="Romance">
            <p>Romance</p>
        </div>
        <div class="card">
            <img src="/static/drama.png" alt="Drama">
            <p>Drama</p>
        </div>
        <div class="card">
            <img src="/static/animacao.png" alt="Animação">
            <p>Animação</p>
        </div>
    </div>

    <div>
    <a class="voltar" href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
