<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Página Inicial</title>
</head>
<body>
    <div class="grupamento">
        <h1>{{ Titulo1 }}</h1>
        <nav>
            <ul>
                <li><a href="/filme" class="animar">Página Filmes</a></li>
                <li><a href="/cadastro" class="animar">Cadastro</a></li>
                <li><a href="/exibir" class="animar">Exibir</a></li>
                <li><a href="/sobre" class="animar">Sobre Nós</a></li>
                <li><a href="/contato" class="animar">Contato</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
